@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar sidebarController sidebarController-start">
        <div class="sidebarContainer" style="height: calc(100vh - 56px); margin-top: 56px;">
            <NavMenu />
        </div>
    </div>
    <div class="@(isChecked == false ? "smallNavBar" : "")">
        <nav class="d-flex flex-column text-light" id="navSmall">
            <div class="nav-items-container">
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/" title="Home">
                        <h2 class="oi oi-home text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
                <div class="item-fader dropdown-divider divider"></div>
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/Dissertation/Dissertation" title="My Dissertation">
                        <h2 class="oi oi-document text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/Dissertation/Artifact" title="My Dissertation Artifact">
                        <h2 class="oi oi-document text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/Dissertation/CV" title="My CV">
                        <h2 class="oi oi-person text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
                <div class="item-fader dropdown-divider divider"></div>
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/chat" title="My Chat Bot!">
                        <h2 class="oi oi-chat text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/navBot" title="My Navigation Assistant">
                        <h2 class="oi oi-chat text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
                <div class="item-fader dropdown-divider divider"></div>
                <div class="p-1 item-fader nav-item px-2 font-weight-bold">
                    <NavLink class="p-1 nav-link text-muted" href="/all" title="My Wiki">
                        <h2 class="oi oi-info text-muted text-truncate titleText" aria-hidden="true"></h2>
                    </NavLink>
                </div>
            </div>
        </nav>
    </div>

    <main class="bg-dark text-light topBlock main-Nav-Closed" style="position: relative">
        <div class="topLeftBlock">
            <div class="form-group form-check form-switch" id="navToggle">
                <label for="sliderToggle" class="form-check-label text-muted menu-toggle">
                    <input type="checkbox" class="form-check-input" id="sliderToggle" value="isChecked"/>
                    <span class="oi oi-menu form-check-icon icon rotateRight"></span>
                </label>
            </div>
            <div id="topLeftText" class="lastLink" @onclick="GoHome">
                    @*<img src="@icon" alt="Icon" height="30" width="30" class="mx-2 img-fluid homeImg" />*@
                    Sam <small class="topLeftTextMuted @(isChecked == false ? "internalWiki" : "")">Portfolio</small>
            </div>
        </div>

        <div class="top-row px-4 auth bg-dark text-light">
            <div class="logindisp">
                <div class="logindispSmall @(isChecked == false ? "" : "justify-content-end")">
                    <LoginDisplay />
                </div>
            </div>
        </div>

        <article class="content px-2 bg-dark content-menu-closed">
            @Body
        </article>
    </main>
    <AuthorizeView>
        <Authorized>
            <div class="userNameDisp text-muted">
                @context.User.Identity?.Name @versionNo
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="userNameDisp text-muted">
                 @versionNo
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private bool isChecked { get; set; }
    private string versionNo = "V1.1.4";

    protected override void OnInitialized()
    {
        Console.WriteLine("MainLayout.razor initialised");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initNavbar");
            await JSRuntime.InvokeVoidAsync("customRefresh.preventRefresh");
            await JSRuntime.InvokeVoidAsync("customRefresh.preventRefreshMobile");
            CheckNavigationTypeAsync();
        }
    }
    @* Re-directs back to home on refreshes to allow proper re-initiation *@
    private async Task CheckNavigationTypeAsync()
    {
        var navType = await JSRuntime.InvokeAsync<string>("customRefresh.getNavigationType");
        if (navType == "reload" || navType == "back_forward")
        {
            GoHome();
        }
    }

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }
}